<div class="container">
  <div class="row">
    <div class="col-6">
      <img src="https://alexhorodnic.com/img/contact.png" class="img-fluid tech">
    </div>
    <div class="col-6 my-auto" >
      <div style="font-size: 30px">For questions or anything work related feel free to contact me.</div>
      <hr>
      <div class="social">
        <a href="mailto:alex@alexhorodnic.com"><i class="fa-regular fa-envelope"></i></a>
        <a href="https://www.linkedin.com/in/alex-horodnic/" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
        <a href="https://github.com/AlexHorodnic"><i class="fa fa-github" target="_blank"></i></a>
      </div>


    </div>
  </div>
</div>
