<div class="container">
  <div class="row about-row">
    <div class="col-12 my-auto" style="font-size: 18px">
      <h1>About Me</h1>

      <p>Hi, I'm Alex Horodnic, a front-end developer with a passion for creating innovative and user-friendly web-based applications. With one year of professional experience in the industry,
        I have a good understanding of the latest web development technologies and a track record of delivering high-quality projects on time and within budget.</p>
      <hr>
      <h2>Personal Background</h2>

      <p>I have a Bachelor's degree in Computing (Application Development) from the University of Bolton, where I honed my skills in HTML, CSS, JavaScript, and other programming languages.
        After graduation, I started working as a developer at Public NEXT, where I was responsible for developing and maintaining two of the company's largest web-based applications, Public.gr and Mediamarkt.gr.</p>
      <hr>
      <h2>Skills</h2>

      <ul>
        <li>HTML & CSS</li>
        <li>JavaScript and front-end frameworks (such as React, Angular, and Vue.js)</li>
        <li>Responsive design and cross-browser compatibility</li>
        <li>User interface design</li>
        <li>Git and version control</li>
        <li>Accessibility and usability standards</li>
        <li>Debugging and troubleshooting skills</li>
        <li>Understanding of Agile methodologies and project management tools.</li>
      </ul>
      <hr>
      <h2>Hobbies & Interests</h2>

      <p>In my free time, I enjoy exercising, watching movies, and socializing. I am also a huge car enthusiast.</p>
      <hr>
      <h2>Career Goals</h2>
      <hr>
      <p>I am always looking to expand my skill set and work on challenging projects. My goal is to become a lead developer at a tech company and contribute to the development of innovative products that make a positive impact on people's lives.</p>
      <hr>
      <h2>Contact Information</h2>

      <p>Feel free to contact me at alex@alexhorodnic.com or via LinkedIn at linkedin.com/in/alex-horodnic/.</p>

    </div>
  </div>
</div>
