<div class="container">
  <div class="row">
    <div class="col-6">
      <img src="https://alexhorodnic.com/img/tech.png" class="img-fluid tech">
    </div>
    <div class="col-6 my-auto" style="font-size: 18px">
      <h1>Hi.</h1>
      My name is Alex Horodnic, 23 years old student graduate in Computer Science at the University of Bolton.
      Junior Developer and Technology enthusiast looking for the opportunity to work and improve.<br><br>
      I do the work I do because I enjoy it. I enjoy turning complex problems into simple, beautiful and intuitive designs.
    </div>
  </div>
</div>
