<div class="container">
  <div class="row about-row">
    <div class="col-12 my-auto">
      <h2>About Me</h2>
      <hr>
      <p>As a Software developer, I enjoy turning ideas into functional, high-quality applications.
        I focus on creating web applications that look great and work smoothly. Whether working alone or with a team,
        I’m constantly motivated to find solutions and make improvements.</p>

      <h2>Background</h2>
      <hr>
      <p>I hold a Bachelor's degree in Computing (Application Development) and currently work as a developer at Public Group,
        one of Greece's largest and most diverse retailers. In this role, I contribute to the development and maintenance of major projects,
        including the company's flagship platform, Public.gr.
      </p>

      <h2>Career Goals</h2>
      <hr>
      <p>I aim to continually improve my skills and work on challenging projects. I plan to advance to a lead developer role and contribute to the development of innovative products.</p>

      <h2>Contact</h2>
      <hr>
      <p>Feel free to contact me at <a href="mailto:alex@alexhorodnic.com">alex@alexhorodnic.com</a> or connect via <a href="https://linkedin.com/in/alex-horodnic/" target="_blank">LinkedIn</a>.</p>

    </div>
  </div>
</div>
