<div id="particles-js"></div>
<div class="container">
  <div class="row justify-content-md-center row-main-content">

    <div class="col-lg-6 col-sm-12 my-auto">
      <img src="assets/abstract-char.png" alt="Abstract Character" class="img-fluid" width="100%" height="100%">
      <div class="row justify-content-center btn-row">
        <div class="col-lg-12 col-sm-12 links-column my-auto">
          <a href="assets/Alex-Horodnic-Resume.pdf" target="_blank">
            <button mat-raised-button>
              <mat-icon>insert_drive_file</mat-icon>
              Resume
            </button>
          </a>
          <a href="https://www.linkedin.com/in/alex-horodnic/" target="_blank">
            <button mat-raised-button>
              <i class="fab fa-linkedin"></i>
              Linkedin
            </button>
          </a>
        </div>
      </div>
    </div>
    <div class="col-lg-6 col-sm-12  my-auto content-column">
      <div class="col title-col">
        <h1>Alex Horodnic</h1>
        <h2>Front-End Developer</h2>
      </div>
      <br>
      <p class="intro-paragraph">I am delighted to present my official portfolio website to the online community.
        Through this platform, I aim to showcase my technical abilities, skills, and the diverse projects I have had the
        opportunity to work on as a student. <br><br>
        As a dedicated learner and a driven individual, I take pride in my ability to adapt to new technologies,
        methodologies and practices. I am eager to apply my knowledge to real-world projects, and I believe this website
        will provide a glimpse into my capabilities as a developer.<br><br>
        I am continually looking to expand my skill set and improve my understanding of the industry. I am excited about
        the prospect of working on challenging projects and contributing to the growth of a company.<br><br>
        Thank you for taking the time to visit my portfolio. I hope it provides you with a comprehensive understanding
        of my background and experience as a developer. I am always open to feedback and would welcome the opportunity
        to discuss potential opportunities.
      <p>
    </div>
  </div>
</div>
