*{
  font-size: 1rem;
  color: white;
  font-weight: 400;
}
.footer{
  background: #1c1c1c;
  padding: 80px;
  margin-top: auto;
  top: 100%;
  position: sticky;
}
button{
  background-color: red;
  margin: 1px;
}
.menu-btn{
  text-align: right
}
.logo{
  text-decoration: none;
  text-align: center;
}
