<div class="container-fluid">
  <div class="row">
    <div class="col-6 logo">
      <button mat-flat-button routerLink="">alexhorodnic.com</button>
    </div>
    <div class="col-6 menu-btn">
      <div>
        <button mat-flat-button routerLink="">Home</button>
        <button mat-flat-button routerLink="projects">Projects</button>
        <button mat-flat-button routerLink="about">About</button>
        <button mat-flat-button routerLink="contact">Contact</button>
      </div>
    </div>
  </div>
</div>
