<div class="container-fluid">
  <div class="row">
    <div class="col-12 nav-col">
      <mat-toolbar class="navbar">
        <div>
          <button mat-flat-button routerLink="">alexhorodnic.com</button>
        </div>
      <div>
        <button mat-flat-button routerLink="">Home</button>
        <button mat-flat-button routerLink="projects">Projects</button>
        <button mat-flat-button routerLink="about">About</button>
        <button mat-flat-button routerLink="contact">Contact</button>
      </div>
      </mat-toolbar>
    </div>
  </div>
</div>
