<div class="container-fluid">
  <div class="row">
    <div class="col-12 nav-col">
      <mat-toolbar class="navbar">
        <div class="col-2 justify-content-center my-auto col-logo">
          <img routerLink="" alt="logo" src="favicon.ico" class="img-fluid logo">
          <button mat-button class="logo-btn" routerLink="">alexhorodnic.com</button>
        </div>
        <div class="nav-buttons">
          <button mat-button routerLink="">Home</button>
          <button mat-button routerLink="projects">Projects</button>
          <button mat-button routerLink="about">About</button>
        </div>
        <div class="burger-icon">
          <button mat-icon-button aria-label="Navigation Menu Button" [matMenuTriggerFor]="menu">
            <mat-icon>menu</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item routerLink="">Home</button>
            <button mat-menu-item routerLink="projects">Projects</button>
            <button mat-menu-item routerLink="about">About</button>
          </mat-menu>
        </div>
      </mat-toolbar>
    </div>
  </div>
</div>
