

.mat-card {
  background-color: #1E1E1E;
  color: white;
  padding-bottom: 25px;
}

.mat-card-actions {
  padding: 0;
}

.mat-card-image {
  margin-bottom: 0;
  transition-duration: 0.2s;
}

.mat-card-image:hover {
  filter: grayscale(100%) brightness(80%);

  transition-duration: 0.2s;
}

.mat-raised-button {
  background-color: #131313;
  color: white;
  transition: color 0.3s ease;
}

.mat-raised-button:hover {
  color: #AE0000;

}

img[title]:hover::after {
  content: attr(title);
  position: absolute;
  top: -100%;
  left: 0;
}

.languages-icons {
  display: inline;
  font-size: 20px;
  padding: 2px;
}

.mat-card-title {
  font-size: 20px;
}

.project-thumbnails {
  min-height: 210px;
}

@media only screen and (min-width: 1400px) {
  .container {
    margin-top: 50px;
    margin-bottom: 50px;
  }
}

.fa-html5 {
  color: #ff670e;
}

.fa-css3-alt {
  color: #4545ff;
}

.fa-bootstrap {
  color: #c53afd;
}

.fa-js {
  color: #ffe700;
}

.fa-database {
  color: #00ffc2;
}

.project-img {
  max-height: 350px
}
@media only screen and (max-width: 1400px) {
  .mat-card-title {
    font-size: 15px;
    max-height: 45px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* Number of lines to show before adding ellipsis */
    -webkit-box-orient: vertical;
  }
}

@media (max-width: 991px) {
  .project-row {
    gap: 20px;
  }
}
