<div class="container">
  <div class="row">
    <div class="col-lg-4 col-sm-12 project-col" *ngFor="let project of dataSource">
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>{{ project.name }}</mat-card-title>
          <mat-card-subtitle>
            <div class="languages-icons" *ngIf="project.languages.includes('HTML')">
              <i class="fa-brands fa-html5" title="HTML"></i>
            </div>
            <div class="languages-icons" *ngIf="project.languages.includes('CSS')">
              <i class="fa-brands fa-css3-alt" title="CSS"></i>
            </div>
            <div class="languages-icons" *ngIf="project.languages.includes('BOOTSTRAP')">
              <i class="fa-brands fa-bootstrap" title="BOOTSTRAP"></i>
            </div>
            <div class="languages-icons" *ngIf="project.languages.includes('JAVASCRIPT')">
              <i class="fa-brands fa-js" title="JAVASCRIPT"></i>
            </div>
            <div class="languages-icons" *ngIf="project.languages.includes('API')">
              <i class="fa-solid fa-database" title="API"></i>
            </div>

          </mat-card-subtitle>
        </mat-card-header>
        <img class="project-img" alt="Project Image Thumbnail" mat-card-image src="{{ project.img }}">
        <mat-card-content>
        </mat-card-content>
        <mat-card-actions>
          <a mat-raised-button href="{{ project.demo }}" target="_blank">
            <mat-icon>language</mat-icon>
            DEMO</a>
          <a mat-raised-button href="{{ project.code }}" target="_blank">
            <mat-icon>code</mat-icon>
            CODE</a>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>


